{{#each data}}
<h1 class="display-4" style="text-align: center" style="color: #ffffff" id="#">{{this.community_name}}</h1>
{{/each}}

<nav class="navbar navbar-expand-sm bg-dark">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" style="font-family: 'Pacifico', cursive; color: white;" href="/">Login</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" style="font-family: 'Pacifico', cursive; color: white;" href="/index">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="font-family: 'Pacifico', cursive; color: white;" href="/input">Post Listing</a>
    </li>
    {{!-- drop-down portion --}}
        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" style="font-family: 'Pacifico', cursive; color: white;" data-toggle="dropdown">
        Communities
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/community/1">Cars</a>
        <a class="dropdown-item" href="/community/2">Electronics</a>
        <a class="dropdown-item" href="/community/3">Housing</a>
        <a class="dropdown-item" href="/community/4">Jobs</a>
      </div>
    </li>
  </ul>

</nav>


<br/>

 <div class="container">
   <div class="col-md-12">
{{#each data}}
     <div class="card-deck">
  <div class="card">
   
    <div class="card-body">
      <h5 class="card-title">{{this.post_title}}</h5>
      <small class="text-muted">
        <div class="col-md-2">
        <img class="card-img-top" src="{{this.post_image_url}}" alt="Card image cap">
        </div>
      <p class="card-text">{{this.post_body}}</p>
      </small>
      <br/>
      <button type="button" class="btn btn-primary sendEmail" value="{{this.id}}" >Contact Seller</button>
      {{!-- data-toggle="modal" data-target="#sellerModal" --}}
    </div>
    
  </div>
</div>
{{/each}}
</div>
<br/>
</div>


<!-- Modal -->
{{!-- <div class="modal fade" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send a message to the seller.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="postHeader2">Fill in the following fields to email the seller via Gregslist</p>
 <div class="row justify-content-center">
  <form id="postForm">
   <div class="form-group">
      <label for="post_email">Your Email:</label>
      <input type="email" class="form-control input-large" id="email_sender" placeholder="example@email.com" >
    </div>

    <div  class="form-group">
      <label for="post_title">Subject:</label>
      <input type="text" class="form-control" placeholder="New Post" id="email_subject" >
    </div>
 <div class="form-group">
  <label for="post_body">Body:</label>
  <textarea class="form-control" rows="2" id="email_body"  placeholder="Description of post"></textarea>
</div>

 </div>
  



   
  </form>

<div class="modal-footer">
  
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="send_email btn btn-primary" id="{{data.post_email}}">Send Email</button>
      </div>
</div>
      </div>
      
    </div>
  </div>
</div> --}}


  

